@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="header1">
<div class="top">
        <h1 id="main-header">Its Music Time!!!</h1>
        <p id="sub-header">Greatest song of all time is here</p>
</div>
</section>

<section id="info">
<div class="text">
    <h1>Any problems?</h1>
    <p>See it.</p>
    <p>Say it.</p>
    <p>Sorted.</p>
    <button id="JSpower">Click Here to Js</button>
</div>

<div class="video">
        <iframe id ="youtube-video" width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
</div>
</section>
